.content{
background-color: antiquewhite;
margin-left: 100px;
margin-right: 100px;
padding: 40px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    text-decoration: underline;
    color: black;
}